<!DOCTYPE html>
<html>
<head>
  <title>OrderOut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" style="background-color: #99CCFF">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <Title>Order Out</Title>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            
              <% if user_signed_in? %>
              <li><%= link_to "Home", :controller => :home, :action => :index %></li>
              <% end %>
              <% if current_user.try(:admin?) %>
              <li><%= link_to "Restaurants", :controller => :restaurants, :action => :index %></li>  
              <li><%= link_to "Submenus", :controller => :submenus, :action => :index %></li>
              <li><%= link_to "Items", :controller => :items, :action => :index %></li>
              <% end %>
              <% if user_signed_in? && !current_user.try(:restaurantid?) && !current_user.try(:admin?) %>
              <li> <%= link_to "View Cart #{@shopping_cart.total_unique_items}", :controller => :home, :action => :view_cart%></li>
              <% end %>
             
            </ul>

            <ul class="nav pull-right">
			           
        			  <% if user_signed_in? %>
        			    
                  
                  <li id="fat-menu" class="dropdown">
        			      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        			        Hello, <%= current_user.try(:email)%> <b class="caret"></b>
        			      </a>
        			      <ul class="dropdown-menu">
                      <li><%= link_to "Profile", edit_user_registration_path %></li>
                      <li><%= link_to "Past Orders", :controller => :home, :action => :view_orders%></li>
                      
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                      </li>
                    </ul>
        			    </li>
        			  <% else %>
        			    <li><%= link_to "Sign in", new_user_session_path %></li>
        			  <% end %>
			       </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



	<body style="background-color: #FFFFD1">
    <div style="padding: 0% 10% 10% 10%;">
  		<% if notice != nil %>
  			<p id="notice"><%= notice %></p>
  		<% end %>
  		<% if alert != nil %>
  			<p class="alert"><%= alert %></p>
  		<% end %>

  	<%= yield %>
    </div>
	</body>


</html>
